.syntax--js {
  &.syntax--storage {
    &.syntax--class,
    &.syntax--extends,
    &.syntax--modifier,
    &.syntax--function {
      color: @color-keyword;
    }
  }

  &.syntax--function .syntax--type:not(.syntax--console) {
    color: @color-keyword;
  }

  &.syntax--storage.syntax--type {
    color: @color-keyword;
  }

  &.syntax--regexp {
    color: @color-regexp;
  }
}

.syntax--jsx {
  &.syntax--assignment {
    color: @color-text;
  }
}
