.syntax--gfm {
  &.syntax--bold {
    font-weight: @font-weight-bold;
  }

  &.syntax--italic {
    font-style: italic;
  }

  &.syntax--bold,
  &.syntax--italic,
  &.syntax--strike {
    color: @color-tag;
  }

  &.syntax--heading {
    color: @color-keyword;
  }

  .syntax--link {
    color: @color-string;
  }

  &.syntax--raw {
    background-color: @color-string;
    color: @color-background;
    border-radius: @border-radius;
  }
}
