@import 'settings/index';

atom-text-editor {
  background-color: @color-background;
  color: @color-text;

  .cursor {
    color: @color-cursor;
  }

  .selection .region {
    background-color: @color-selection;
  }

  .wrap-guide {
    background-color: @color-line-limit;
  }

  .indent-guide,
  .invisible-character {
    color: @color-invisibles;
  }

  .line-number {
    color: @color-gray-dark;

    &.cursor-line {
      opacity: 0.8;
      color: @color-text;
    }
  }
}

.syntax--variable {
  color: @color-variable;
}

.syntax--list.syntax--variable {
  color: @color-constant;
}

.syntax--storage,
.syntax--keyword {
  color: @color-keyword;
}

.syntax--unit {
  color: @color-constant;
}

.syntax--operator {
  color: @color-operator;
}

.syntax--tag {
  .syntax--attribute-name {
    color: @color-function;
  }

  &.syntax--entity {
    color: @color-tag;
  }
}

/**
 * HTML attributes
 * CSS classnames
 */
.syntax--attribute-name {
  color: @color-function;
}

.syntax--constant {
  color: @color-constant;
}

.syntax--string {
  color: @color-string;
}

.syntax--comment {
  color: @color-comment;
  font-weight: @font-weight-thin;

  .syntax--class,
  .syntax--name,
  .syntax--variable {
    color: lighten(@color-comment, 10%);
    font-weight: @font-weight-normal;
  }

  .syntax--class,
  .syntax--name {
    font-style: italic;
  }
}

.syntax--object .syntax--unquoted {
  color: @color-variable;
}

.syntax--illegal.syntax--invalid {
  background-color: @color-error;
  color: @color-background;
  font-weight: @font-weight-normal;
}

.syntax--function {
  &.syntax--name,
  &.syntax--console {
    color: @color-function;
  }
}
