@import '../source/index';

atom-text-editor {
  background-color: @color-background;
  color: @color-text;

  .cursor {
    color: @color-cursor;
  }

  .selection .region {
    background-color: @color-selection;
  }

  .wrap-guide {
    background-color: @color-invisibles;
  }

  .indent-guide,
  .invisible-character {
    color: @color-invisibles;
  }
}

.syntax--keyword {
  color: @color-keyword;
}

.syntax--constant {
  color: @color-constant;
}

.syntax--string {
  color: @color-string;
}

.syntax--comment {
  color: @color-comment;
}
